/*Global */ 
.bg-brand-primary{
    background-color:#0058A4;
    color:white;
    font-weight: 600;
}
.btn-info{
    font-weight: 600;
}
.bg-brand-create{
    background-color: #0D9DDB;
    color: #fff;
    font-weight: 600;
}
.bg-brand-create:hover{
    color: #fff;
    background-color: #0FB0E2;
}
.bg-brand-green{
    background-color: #4DAA50;
    border-color: #4DAA50;
    color:white;
    font-weight: 600;
}
.bg-brand-green:hover{
    color:white;
    background-color: #5CBB60;
    text-decoration: none;
    border-color: rgba(0,168,122,0.8);
}
.bg-brand-yellow{
    font-weight: 600;
    background: #FFB511;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #000;
    -webkit-transition: background 0.01s ease,color 0.01s ease,border-color 0.01s ease;
    transition: background 0.01s ease,color 0.01s ease,border-color 0.01s ease;
}
.bg-brand-yellow:hover{
    color: #000;
    text-decoration: none;
    background: #FFC314;
    border-color: #FFC314;
}
.bg-brand-secondary{
    background-color:#0058A4;
    color:white;
}
/* hover */
.bg-brand-primary:hover{
    background-color:#044781;
    color:white;
}
.bg-brand-secondary:hover{
    background-color:#0058A4;
    color:white;
}
/* Components */
.badge{
    border-radius:0;
    font-size: 1em;
}
.btn{
    border-radius:0;
}
.box-shadow{
    min-height: 410px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
    transition: box-shadow 0.3s ease-in-out;
}
/*Overriding */
.btn:focus{
    box-shadow: none !important;
}
.box-shadow:hover {
    box-shadow: 0 5px 15px 2px rgba(18, 18, 18, 0.2);
     
    }
    .cta-top a{
        margin-bottom:2%;
    }